*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 70px;
    background-color: #ff8c00;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.meio {
    width: 100%;
    height: 50px;
}

.meio h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    background:linear-gradient(90deg, rgba(14,8,204,1) 0%, rgba(64,200,219,1) 65%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    font-family:cursive;
    color: white;
}

h2{
    color: #0c0c0c;
    font-weight: bold;
    font-size: 35px;
}

.container .imagem {
    width: 100%;
    display: block;
    
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    font-size: 25px;
    padding: 0;
}

footer{
    display: flex;
    height: 95px;
    background-color: #ff8c00;;
}

.endereco{
    display: flex;
    padding: 1rem;
    align-items:center;
    justify-content:left;
}

@media (max-width:1440px){
    .endereco {
        margin: auto;
    }
    .endereco h3 {
        padding: 5px;
        font-size: 25px;
    }
    .endereco p {
        padding: 5px;
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .container .imagem {
    height: 50%;
    }   
    footer{
        height: auto;
    }

    .endereco {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .endereco h3 {
        font-size: 20px;
    }
    .endereco p{
        font-size: 20px;
    }
}